.item-1 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/1');
}
.item-2 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/2');
}
.item-3 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/3');
}
.item-4 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/4');
}
.item-5 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/5');
}
.item-6 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/6');
}
.item-7 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/7');
}
.item-8 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/8');
}
.item-9 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/9');
}
.item-10 {
  width: 200px;
  height: 200px;
  background-image: url('http://lorempixel.com/200/200/cats/10');
}
